@media (min-width: 1030px) {
  .container {
    width: 1030px;
  }
}
@media (min-width: 768px) and (max-width: 1029px) {
  .container {
    width: 100%;
    max-width: 949px;
    min-width: 728px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 727px;
    min-width: 280px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

body {
  background-image: asset-url('repeat.png');
  background-repeat: repeat;
}

section {
    background: #888888;
    border-radius: 3px;
}
